# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore Jupyter notebooks
*.ipynb

# Ignore system files
.DS_Store

# Ignore secrets
*.env
secrets.json

# Ignore folders or files
multimodal_bottleneck_transformer/data/
multimodal_bottleneck_transformer/utils/model
